<form nz-form [formGroup]="form.form" (ngSubmit)="save()">
  <nz-form-item>
    <nz-form-control>
      <input type="text" nz-input formControlName="name" placeholder="Nome">
      <nz-form-explain *ngIf="form.form.get('name').dirty && form.form.get('name').errors">
        O nome não pode ser nulo!
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-number formControlName="number" nzPlaceHolder="Numero" [nzMin]="1" [nzStep]="1"></nz-input-number>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="!form.isValid()">
        <i class="anticon anticon-save"></i> Salvar
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
