<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <title>DogTech</title>
  <meta name="description" content="Adoption management system">
  <meta name="keywords" content="Animal, Adoption, ONG">
  <meta name="author" content="Gabriel Rodrigues">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css">
  <link rel="stylesheet" href="style.css">
</head>
