<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Menu</h4>
      <p-tabMenu [model]="items" class="custom-tabMenu"></p-tabMenu>
    </div>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark pull-right">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="navbar navbar-dark bg-dark">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand d-flex align-items-center">
      <i class="fa d-inline fa-camera mr-2"></i><strong>Album</strong>
    </a>

  </div>
</div>
